
#background{
    height: 725px;
    background-color: #fcfbfb;
    grid-column: 1/11;
    grid-row: 4/9; 
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
div {
    width: 1600px;
    margin: 0 auto;
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
body {
    background-color: #fcfbfb; 
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color:rgba(20,30,13, .7);
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: black;
    text-align: center;
    padding: 35px;
}

.book {
    background-color: #fcfbfb; 
    padding: 15px 30px;
    margin-top: 50px;
    border-radius:5px;


}
.join{
    background-color: #fcfbfb; 
    padding: 15px 30px;
    margin-top: 50px;
}

.book:hover {
    background-color: #fcfbfb; 
} 

.join:hover{
    background-color: #fcfbfb;
     
}

.msg {
    background-color: #fcfbfb; 
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg p {
    padding-bottom: 15px;
}
 
footer {
    background-color: #fcfbfb;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center; 
} 
footer .social img {
    padding-top: 15px;

}
nav a {
    text-align: center;
    padding: 35px;
} 
#hero {
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    margin-top: -100px; 
   

}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}  
#hero-msg h1 {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;

}   
#hero-msg h4 {
    text-align: center;
    color: white;
}   
.button-box {
    text-align: center;
}  
main section {
    text-align: center;
}   
.icon {
    width: 80px;
    padding-top: 10px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card  {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img, .mountains {
    width: 100%;
    border: 10px;
    color:black;
    grid-column: 2/7;
    grid-row: 5/8;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;

}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);

}
main section img {
    box-sizing: border-box;
    grid-template-columns: 10fr;
}

footer p {
    font-size: 1.2em;
}  
footer{
    margin-top: 200px;
}            
footer p a:hover {
    text-decoration: underline;
}    
 
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            

